@{    
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fat Pig Stock Wallet</title>
        <link rel="stylesheet" href="~/css/front-end.css" />
    </head>

    <body>
        <div id="home-container">
            <div id="home-box">
                <img id="home-logo" src="~/img/FatPigInvestLogo.png" alt="Fat Pig Invest Logo" />
                <h3>Carteira de Ações</h3>
                <p>
                    O Fat Pig Invest - Stock Wallet é uma solução simples para 
                    gerenciamento de posição acionária com base em notas de 
                    negociação e suas respectivas ordens de compra e venda.
                </p>
                <div id="home-div-button">
                    <a asp-controller="Admin" asp-action="Index">Acessar sua carteira de ações</a>
                </div>                 
            </div>
            <div id="home-copyright">
                &copy; 2022 - Fat Pig Invest : Stock Wallet <br />Developed by 
                <a  href="https://github.com/sergio-lacerda" 
                    target="_blank">Sérgio Lacerda
                </a>
            </div>
        </div>
    </body>
</html>