@{
    ViewData["Title"] = "Área Administrativa";   
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo(a) à área administrativa</h1>    
</div>

<div class="row justify-content-md-between justify-content-sm-center flex-md-row flex-sm-column">
    <div class="card bg-light mb-3" style="max-width: 40.625rem; padding:0px;">
        <div class="card-header">Distribuição das ações</div>
        <div class="card-body">            
            <p class="card-text">Sem dados para exibir.</p>
        </div>
    </div>

    <div class="card bg-light mb-3" style="max-width: 40.625rem; padding:0px;">
        <div class="card-header">Posição acionária</div>
        <div class="card-body">            
            <p class="card-text">Sem dados para exibir.</p>
        </div>
    </div>
</div>

<div class="row justify-content-md-between flex-md-row flex-sm-column">
    <div class="card bg-light mb-3" style="max-width: 40.625rem; padding:0px;">
        <div class="card-header">Evolução patrimonial</div>
        <div class="card-body">            
            <p class="card-text">Sem dados para exibir.</p>
        </div>
    </div>

    <div class="card bg-light mb-3" style="max-width: 40.625rem; padding:0px;">
        <div class="card-header">Proventos</div>
        <div class="card-body">            
            <p class="card-text">Sem dados para exibir.</p>
        </div>
    </div>
</div>