@{
    ViewData["Title"] = "Créditos";
}

<h1>Créditos</h1>
<hr />

<div class="row">
    <div class="col" style="text-align:center;">
       <img class="country-flag" src="~/img/Brazil-Flag-icon.png" alt="Brazil flag" />
       <p>
           <b>[Português]</b> Esta é uma solução de autoestudo desenvolvida para o 
           gerenciamento de carteira de ações para o mercado de ações brasileiro.
       </p>
    </div>
    <div class="col" style="text-align:center;">
       <img class="country-flag" src="~/img/United-States-Flag-icon.png" alt="USA flag" />
       <p>
           <b>[English]</b> This is a self-study solution developed for stock 
           portfolio management for the Brazilian stock market.
       </p>
    </div>
    <div class="col" style="text-align:center;">
       <img class="country-flag" src="~/img/Spain-Flag-icon.png" alt="Spain flag" />
       <p>
            <b>[Español]</b> Esta es una solución de autoaprendizaje desarrollada para 
            la gestión de cartera de acciones para la bolsa de valores brasileña.
       </p>       
    </div>
</div>

<div class="row">
    <a class="GitHub-Card" href="https://github.com/sergio-lacerda" target="_blank">
        <img class="country-flag" src="~/img/Octocat.png" alt="GitHub" />
        Visit my profile at GitHub: Sérgio Lacerda
    </a>
</div>